<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-11">
				<h1 class="lead">Open-To-All Free Article Spot</h1>
			</div>
			<br>
			<div class="col-md-1">
				<img alt="Write Article Online" class="img-responsive text-center" src="modules/core/img/brand/Write.png" />
			</div>
			
		</div>
		<br>
		<div class="row">

			<iframe id="player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com" frameborder="0">
			</iframe>
		</div>
		<br>
			<div class="row">	
				<p class="lead">
				New to article writing!! Go through the video shown above it may help you to start.
				</p>	
			</div>
	</div>
	<div>
			<div class="row">

		<div class="col-md-6">
		<br><br>	

				<img alt="Write Article Online" class="img-responsive text-center" src="modules/core/img/brand/banner.png" />

				</div>
							<div class="col-md-6">
		
		<h2>Welcome to Free Article Spot.</h2><br><div class="col-md-2"><img alt="Write Article Online" class="img-responsive text-center" src="modules/core/img/brand/shortLogo.png" />	</div>
		<div class="col-md-8">
		<p>Free Article Spot means a place whre you can put your all thought process.</p>
		<p>It is the place which does not restrict you to do write anything.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Write your own articles.
			</li>
			<li>
				Edit them.
			</li>
			<li>
				Update them if you got best shot.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
		</div></div>
				</div>
	</div>
	<!--<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	<div class="well">-->
		<!--<h2>MEAN.JS Documentation</h2>-->
		
			
 			
			<!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		
	</div>-->
	<br><br>Enjoy &amp; Keep Posting,
	<br>Free Article Spot Team.
</section>
